<div id='game-page'>
 <h1> <%= @game.name %></h1>


<div id='wildling-deck'>
  <h3> The Wildlings' Deck </h3>
  <% wildlings_deck = @game.wildling_deck %>
  <% unless (wildlings_deck.last_viewed_at.blank?) %>
  <h3> This deck has been viewed <%=wildlings_deck.views%> times </h3>
  <h3>  Last viewed by <%= wildlings_deck.last_viewed_by %> @ <%= wildlings_deck.last_viewed_at %></h3>
  <% else %>
    <h3> No one has viewed the cards in this deck</h3>
  <% end%>

  <form id="wildlings_form">
    <input type="hidden" id='deck_type_id' name="deck_type_id" value= "<%= wildlings_deck.deck_type_id%>"/>

    <input type="hidden" id='game_id' name="game_id" value= "<%= @game.id %>"/>
        <%= label_tag(:user_name, "Enter your name to view the top card:") %> <%= text_field_tag(:user_name) %><br>

    <input type="button" onclick="peekWildlingsCard()" id="draw_top" value="Draw top card">
  </form>
</div>

  <div id="wildlings_result">
    Card Name: <div id="wildlings_card_result"> </div>
    <div id="buttom_control">
      <button type="button" id="buttom_button" onclick="placeTopCardAtButtom()">
        Put the card at the buttom of the deck
      </button>
      <button type="button" id="buttom_button" onclick="placeTopCardAtTop()">
        Put the card at the top of the deck
      </button>

    </div>
  </div>


<script>
$('#wildlings_result').hide()
var form = $('#wildlings_form');
$('#user_name').keypress(function(e) {
  if (e.keyCode == 13) {
    //
  }
});


//TODO make it more dry
function peekWildlingsCard() {

  $.ajax({
    type: "get",
    url: "/deck/view_top_card",
    data: "game_id=" + $('#game_id', form).val() +
            "&deck_type_id=" +$('#deck_type_id', form).val() +
            "&user_name=" +$('#user_name', form).val(),
    success: function(result) {
      $('#wildlings_card_result').text(result['name'])
     $('#wildlings_form').hide()
      $('#wildlings_result').show()
    },
    error: function(err) {
      window.alert("Something went wrong. Did you enter your name?");
    }
  });
}

function placeTopCardAtTop() {
  location.reload();
}

function placeTopCardAtButtom() {
 $.ajax({
    type: "get",
    url: "/deck/place_top_card_at_buttom",
    data: "game_id=" + $('#game_id', form).val() +
            "&deck_type_id=" +$('#deck_type_id', form).val(),
    success:function(result) {
        $('#buttom_button').hide()
        $('#buttom_control').text('Card placed at the buttom')
    },
    error:function(err) {
      window.alert("Something went wrong. Please try again");
    }
  });
}
</script>


